<div class="title-container">
  <h1>Prowess</h1>
  <img src="assets/prowessLogo.jpg" alt="Prowess Image" class="prowess-image">
</div>
<h2>Competitive Matchmaking</h2>

<div class="description">
  <p>Prowess Matchmaking presents: <b>The Command Hub</b>. The Command Hub is a new data tracking software 
    designed specifically for cEDH (competitive commander) players and Tournament Organizers. On the Command 
    Hub, you'll be able to check out all sorts of relevant data, such as different deck usages, win rates, 
    best opening hands, etc. In addition to general data, you'll be able to track your own statistics. For 
    example, you can see what players and what decks you tend to struggle against, and how other players
    that use similar decks overcome your bad match ups. The Command Hub will be your all-in-one spot for
    cEDH stats and personal improvement. </p>
</div>

<div class="survey-container">
  <p><b>Please take this survey to help us build The Command Hub!</b></p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2bf9s6MQ6fZsyzqYbdN6eZeSugmX0TfU02c83tIbHERA7Sw/viewform?usp=sf_link" target="_blank" class="survey-button">Take the Survey</a>
</div>

<!-- <div class="google-form-container">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGK4Af7HnRwNGt8Hv8zHO3ar1P410oHRBi_Ikhm5I1Mol5HA/viewform?embedded=true" width="640" height="760" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div> -->
